:root {
  font-size: 62.5%;

  color-scheme: light dark;
  color: var(--color-font-light);
  background-color: var(--color-bg-dark);

  font-synthesis: none;
  text-rendering: optimizelegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-size-adjust: 100%;

  --color-main: #543059;
  --color-alt: #755175;
  --color-alt-dark: #432047;
  --color-font-light: #fafafade;
  --color-font-dark: #112537;
  --color-bg-light: #efefef;
  --color-bg-dark: #242424;
}

a {
  font-weight: 500;
  background: var(--color-main);
  text-decoration: inherit;
}

a:hover {
  color: var(--color-alt);
}

body {
  margin: 0;
  font: normal 400 1.6rem/1.5 Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

button {
  border-radius: 0.7rem;
  border: 1px solid transparent;
  padding: 1rem 1.5rem;
  font-size: 1.6rem;
  font-weight: 500;
  font-family: inherit;
  background: var(--color-main);
  cursor: pointer;
  transition: background 0.2s;
}

@media (device-width: min(800px)) {
  button:hover {
    background: var(--color-alt);
  }
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: var(--color-font-dark);
    background: var(--color-bg-light);
  }

  a:hover {
    color: var(--color-alt);
  }

  button {
    color: var(--color-font-light);
    background: var(--color-main);
  }
}
